{%load static%}
{% load humanize %}

<!DOCTYPE html>
<html>
  <head>
    <title>GIFT-4</title>
    <link rel="stylesheet" href="{%static 'css/gift2.css'%}" />
  </head>
  <body>
    
    <div class="image-container"><img src="/static/images/images1/hand.png" alt="Description of image" width="500" height="300"></div>

    <div class="container">
    <form class="form-inline" method="POST" action="/{{id}}/level4gift">
      {% csrf_token %} 
    <button type="submit" id="splbutton">Level-5</button>    
    </form>
  </div>
  </body>
</html>
