{%load static%}
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
  
  </head>
  <body>
  <!-- partial:index.partial.html -->
  <div class="login-form">
    <form id="my1form"  method="POST" action="register/">
        {% csrf_token %} 
      <h1>Register</h1>
      <input type="hidden" name="button" id="my-hidden-input">
      <div class="content">
        <div class="input-field">
          <input type="email" placeholder="Email" autocomplete="nope" name="email">
        </div>
        <div class="input-field">
            <input type="username" placeholder="Username" autocomplete="nope" name="username">
          </div>
        <div class="input-field">
          <input type="password" placeholder="Password" autocomplete="new-password" name="password">
        </div>
      </div>
      <div class="action">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
  <!-- partial -->
  
  </body></html>