.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    margin-right: 20px;
    border-radius:10px;
    text-align:center;
  }
  .image-container{
    margin:auto;
    text-align:center;
  }
  #splbutton{
    cursor:pointer;
  }
  h2{
    text-align:center;
    margin-top:20px;
  }
  p{
    text-align: center;
  }
  body{
    background-color: darksalmon;
  }
  .container{
    display:flex;
    text-align: center;
    align-items: center;
    width:10%;
    margin:auto;
  }